<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	
	<body>
		<div id="box">
			<!-- <input   @input="handleInput()" v-model="mytext"/> -->
			<input  type="text" v-model="mytext"/>
			<ul>
				<li v-for="data in getMyDatalist"> {{data}}</li>
			</ul>
		</div>

	</body>
	<script src="../js/vue.js"></script>
	<script >
		var vm = new Vue({
			el:"#box",
			data:{
				mytext:'',
				datalist:["aaa","bbb","ccc","asad","bsd"],
				list:["aaa","bbb","ccc"]
			},
			methods:{
				handleInput(){
					//利用输入框的字符，过滤出包含字段的元素
					//console.log("只要value改变，就会触发")
					console.log(this.mytext)
					//filter 过滤
					var newlist = this.list.filter(item=>item.indexOf(this.mytext)>-1)
					
					this.datalist = newlist
					//计算属性
				}
			},
			computed:{
				getMyDatalist(){
					return this.datalist.filter( item=>
						item.indexOf(this.mytext)> -1)
				}
			}
		})
	</script>
</html>
